-r requirements.in
-r requirements.docs.txt
pytest
pytest-asyncio
pytest-cov
pytest-xdist
pytest-mock
pytest-retry  # for pytest.mark.flaky
pytest-timeout
toml

# Notebook testing
nbval
gplearn
scikit-learn
lightning
mediapy
mujoco
ipywidgets
ipympl
